.vscode/settings.json
capitalsquiz_answers1.txt
capitalsquiz_answers2.txt
capitalsquiz_answers3.txt
capitalsquiz_answers4.txt
capitalsquiz_answers5.txt
capitalsquiz_answers6.txt
capitalsquiz_answers7.txt
capitalsquiz_answers8.txt
capitalsquiz_answers9.txt
capitalsquiz_answers10.txt
capitalsquiz_answers11.txt
capitalsquiz_answers12.txt
capitalsquiz_answers13.txt
capitalsquiz_answers14.txt
capitalsquiz_answers15.txt
capitalsquiz_answers16.txt
capitalsquiz_answers17.txt
capitalsquiz_answers18.txt
capitalsquiz_answers19.txt
capitalsquiz_answers20.txt
capitalsquiz_answers21.txt
capitalsquiz_answers22.txt
capitalsquiz_answers23.txt
capitalsquiz_answers24.txt
capitalsquiz_answers25.txt
capitalsquiz_answers26.txt
capitalsquiz_answers27.txt
capitalsquiz_answers28.txt
capitalsquiz_answers29.txt
capitalsquiz_answers30.txt
capitalsquiz_answers31.txt
capitalsquiz_answers32.txt
capitalsquiz_answers33.txt
capitalsquiz_answers34.txt
capitalsquiz_answers35.txt
capitalsquiz1.txt
capitalsquiz2.txt
capitalsquiz3.txt
capitalsquiz4.txt
capitalsquiz5.txt
capitalsquiz6.txt
capitalsquiz7.txt
capitalsquiz8.txt
capitalsquiz9.txt
capitalsquiz10.txt
capitalsquiz11.txt
capitalsquiz12.txt
capitalsquiz13.txt
capitalsquiz14.txt
capitalsquiz15.txt
capitalsquiz16.txt
capitalsquiz17.txt
capitalsquiz18.txt
capitalsquiz19.txt
capitalsquiz20.txt
capitalsquiz21.txt
capitalsquiz22.txt
capitalsquiz23.txt
capitalsquiz24.txt
capitalsquiz25.txt
capitalsquiz26.txt
capitalsquiz27.txt
capitalsquiz28.txt
capitalsquiz29.txt
capitalsquiz30.txt
capitalsquiz31.txt
capitalsquiz32.txt
capitalsquiz33.txt
capitalsquiz34.txt
capitalsquiz35.txt
